$font-poppins: 'Poppins', sans-serif;
$size60: 60px;
$size36: 36px;
$size18: 18px;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$hitam: #253342;
$biru: #1D4076;
$putih: #F0F0F0;
$secondary: #E0E0E0;

body {
    margin: 0px;
    padding: 0px;
    font-family: $font-poppins;
    color: $hitam;
    // background: rgb(243, 156, 156);
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: $medium;
    background: white !important;
}

.navbar .container-fluid .navbar-brand {
    margin-left: 162px;
}

.navbar .container-fluid .kiri {
    margin-left: 15px;
}

.navbar .container-fluid .kiri li a {
    margin-left: 85px;
    color: $hitam;
}

.navbar .container-fluid .kanan {
    margin-right: 162px;
}

.navbar .container-fluid .kanan li a {
    margin-right: 85px;
    color: $hitam;
}

.jumbo-custom {
    margin-top: 110px;
}

.jumbo-custom .jumbotron .container {
    margin: 0 360px;
}

.jumbo-custom .jumbotron .container h1 {
    font-size: $size60;
    font-weight: $bold;
    color: $biru;
}

.jumbo-custom .jumbotron .container p {
    font-size: $size18;
    font-weight: $light;
    color: $hitam;
    margin-top: 40px;
}

.jumbo-custom .jumbotron .container a {
    font-size: $size18;
    font-weight: $medium;
    color: $hitam;
    margin-top: 60px;
    border-radius: 20px;
    margin-right: 45px;
}

.jumbo-custom .jumbotron .container .btn-primary-custom {
    background: $biru;
    color: $putih;
}

.jumbo-custom .jumbotron .container .btn-secondary-custom {
    background: $secondary;
    color: $hitam;
}

.daftar-kelas .container h3 {
    font-size: $size36;
    font-weight: $bold;
    margin-top: 140px;
}

.daftar-kelas .container .card-kelas {
    background: #FFFFFF;
    width: 485px;
    height: 280px;
    margin-top: 60px;
    border-radius: 20px;
    box-shadow: 0px 0px 6px rgba($color: $biru, $alpha: 0.4);
}

.daftar-kelas .container .card-kelas img {
    margin-top: 30px;
    margin-left: 40px;
}

.daftar-kelas .container .card-kelas h6 {
    margin-top: 25px;
    margin-left: 40px;
    font-size: 24px;
    font-weight: $semibold;
}

.daftar-kelas .container .card-kelas p {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 40px;
    font-size: $size18;
    font-weight: $light;
}

.kenapa h3 {
    font-size: $size36;
    font-weight: $bold;
    margin-top: 180px;
}

.kenapa .card-kenapa {
    background: #F0F0F0;
    margin-top: 60px;
    padding: 76px 0px;
}

.kenapa .card-kenapa .container .col-md-8 p {
    font-weight: $light;
    font-size: 18px;
}

.kelas .container  .header h3 {
    margin-top: 150px;
    font-size: $size36;
    font-weight: $bold;
}

.kelas .container p {
    font-size: $size18;
    font-weight: $light;
}

.kelas .container .pencarian {
    margin-top: 60px;
}

.kelas .container .pencarian input {
    border-radius: 20px;
    width: 900px;
    height: 47px;
    padding: 5px;
    box-shadow: px 0px 6px rgba(29, 64, 118, 0.1);
}

.kelas .container .pencarian .btn{
    border-radius: 20px;
    width: 142px;
    padding: 11px 10px;
    box-shadow: px 0px 6px rgba(29, 64, 118, 0.1);
    background-color: $biru !important;
    color: white;
}

.kelas .container-fluid .row .list-kelas {
    margin-top: 120px;
}

.kelas .list-kelas .col-3-md {
    padding: 25px;
}

.kelas .list-kelas .col-3-md .card {
    border-radius: 20px !important;
    width: 100%;
    height: 450px !important;
}

.kelas .list-kelas .col-3-md .card .kelas{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;
    max-width: 381px;
    height: 280px;
}

.kelas .list-kelas .col-3-md .card .card-body {
    padding: 20px;
}

.kelas .list-kelas .col-3-md .card .card-body h5 {
    margin-top: 15px;
    color: $hitam;
    font-size: $size18;
    font-weight: $medium;
}

.kelas a:hover {
    text-decoration: none;
}

.kelas .list-kelas .col-3-md .card .card-body p {
    margin-top: 15px;
    color: $hitam;
    font-size: $size18;
    font-weight: $light;
}

.rincian-kelas {
    margin-top: 150px;
}

.rincian-kelas .header-materi {
    font-size: 18px;
    font-weight: $bold;
    margin-top: 30px;
}

.rincian-kelas .container .listvideo .col-md-8 {
    margin-top: 60px;
}

.rincian-kelas .container .listvideo .col-md-4 {
    margin-top: 60px;
}

.rincian-kelas .container .header h3 {
    font-size: $size36;
    font-weight: $bold;
}

.rincian-kelas .container .header p {
    font-size: $size18;
    font-weight: $light;
}

.rincian-kelas .container .row  {
    margin-top: -10px;
}

.rincian-kelas .container .row .kotak-list-materi{
    border-radius: 20px;
    box-shadow: 0px 0px 6px rgb(212, 212, 212);
}

.rincian-kelas .container .row .list-materi {
    // border-radius: 20px;
    padding: 10px;
    width: 100%;
}

.rincian-kelas .container .row .list-materi .permateri {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #F0F0F0;
    margin-top: 10px;
    font-size: 15px;
    font-weight: $medium;
}

.rincian-kelas .container .row .list-materi a .permateri {
    color: $hitam;
}

.rincian-kelas .container .row .list-materi a:hover{
    text-decoration: none;
}
.rincian-kelas .container .row .list-materi .permateri:hover{
    background-color: #e0e0e0;
}

.rincian-kelas .container .row .lihat-kelas  {
    width: 100% ;
    padding: 10px 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $biru;
    margin-top: 30px;
}

.rincian-kelas .container .row  .lihat-kelas:hover {
    background-color: #2a518b;
}

.rincian-kelas .container .row  .lihat-kelas  {
    color: white;
    text-align: center;
    font-weight: $bold;
    font-size: $size18;
}

.rincian-kelas .container .row  .lihat-kelas:hover {
    text-decoration: none;
}

.rincian-kelas .container .deskripsi {
    margin-top: 50px;
}

.rincian-kelas .container .deskripsi h5 {
    font-size: 24px;
    font-weight: $bold;
}

.rincian-kelas .container .deskripsi p {
    font-size: 18px;
    font-weight: $size18;
    margin-top: 20px;
}

footer {
    background: $biru;
    margin-top: 240px;
    color: #f0f0f0;
    padding: 80px 0px;
    font-size: 14px;
}

footer .container-fluid .row .kiri {
    margin-left: 177px;
    font-weight: $regular;
}

footer .container-fluid .row .kiri img {
    margin-bottom: 30px;
}

footer .container-fluid .row .kiri p {
    margin-bottom: 30px;
}

footer .container-fluid .row .isi-footer .footer-judul {
    font-weight: $bold;
}

footer .container-fluid .row .isi-footer ul {
    list-style-type: none;
}

footer .container-fluid .row .isi-footer ul li a{
    color: #F0F0F0;
    font-weight: $light;
}


@media (max-width: 1440px) {

    .navbar .container-fluid .navbar-brand {
        margin-left: 0px;
    }
    
    .navbar .container-fluid .kiri li a {
        margin-left: 30px;
        color: $hitam;
    }
    
    .navbar .container-fluid .kanan {
        margin-right: 0px;
    }
    
    .navbar .container-fluid .kanan li a {
        margin-right: 30px;
        color: $hitam;
    }

    .jumbo-custom .jumbotron .container {
        margin: 0 140px;
    }

    .daftar-kelas .container .card-kelas {
        width: 400px;
        height: 295px;
    }

}

@media (max-width: 991px) {
    
    .navbar .container-fluid .kiri li a {
        margin-left: 0px;
    }
    
    .jumbo-custom .jumbotron .container {
        margin: 0 0px;
    }

    .jumbo-custom .jumbotron .container h1 {
        font-size: 34px;
    }
    
    .jumbo-custom .jumbotron .container p {
        font-size: 14px;
        margin-top: 20px;
    }
    
    .jumbo-custom .jumbotron .container a {
        font-size: 14px;
        margin-top: 20px;
        border-radius: 20px;
    }

    .jumbo-custom .jumbotron .kiri-jumbo  {
        order: 2;
    }

    .daftar-kelas .container h3 {
        font-size: 24px;
        font-weight: $bold;
        margin-top: 100px;
    }

    .daftar-kelas .container .card-kelas {
        width: 300px;
        height: 295px;
    }

    .daftar-kelas .container .card-kelas h6 {
        margin-top: 25px;
        margin-left: 40px;
        font-size: 18px;
        font-weight: $semibold;
    }
    
    .daftar-kelas .container .card-kelas p {
        margin-top: 0px;
        margin-bottom: 30px;
        margin-left: 40px;
        font-size: 14px;
        font-weight: $light;
    }

    .kenapa h3 {
        font-size: 24px;    
        margin-top: 100px;
    }
    
    .kenapa .card-kenapa {
        background: #F0F0F0;
        margin-top: 60px;
        padding: 76px 0px;
    }
    
    .kenapa .card-kenapa .container .col-md-8 p {
        font-size: 14px;
    }

    .kelas .container  .header h3 {
        margin-top: 150px;
        font-size: 24px;
    }
    
    .kelas .container p {
        font-size: 14px;
    }
    
    .kelas .container .pencarian {
        margin-top: 40px;
    }
    
    .kelas .container .pencarian input {
        border-radius: 20px;
        width: 100%;
        height: 30px;
        padding: 5px;
    }
    
    .kelas .container .pencarian .btn{
        border-radius: 20px;
        width: 100%;
        padding: 5px 2px;
        margin-top: 10px;
    }
    
    .kelas .container-fluid .row .list-kelas {
        margin-top: 90px;
    }
    
    .kelas .list-kelas .col-3-md {
        padding: 15px;
    }
    
    .kelas .list-kelas .col-3-md .card {
        border-radius: 20px !important;
        width: 100%;
        height: 365px !important;
    }
    
    .kelas .list-kelas .col-3-md .card .kelas{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px ;
        max-width: 300px;
        height: 240px;
    }
    
    .kelas .list-kelas .col-3-md .card .card-body {
        padding: 1px 5px;
    }
    
    .kelas .list-kelas .col-3-md .card .card-body h5 {
        font-size: 16px;
    }
    
    .kelas .list-kelas .col-3-md .card .card-body p {
        font-size: 14px;
    }
    
    footer {
        margin-top: 200px;
        font-size: 14px;
    }
    
    footer .container-fluid .row .kiri {
        margin-left: 0px;
        font-weight: $regular;
        order: 2;
    }
}